# Sistema
.DS_Store
Thumbs.db

# Editores
.vscode/
.idea/
*.swp
*.swo

# Dependências e Ambientes
node_modules/
venv/
.venv/
env/

# Python Cache e Builds
__pycache__/
*.pyc
*.pyo
*.pyd

# Banco de Dados
*.sqlite3
*.db

# Variáveis de Ambiente
.env
